<%- include("../includes/head.ejs") %>
<section class="w-full h-full">
  <div class="w-1/2 max-lg:w-3/4 max-md:w-4/5 max-sm:w-full h-full mx-auto">
    <header
      class="w-full h-14 px-3 flex justify-start items-center border-b-2 border-zinc-950">
      <a
        href="/"
        class="bg-black size-10 flex justify-center items-center text-white mr-2">
        <i class="fa fa-arrow-left"></i>
      </a>
      <h1 class="text-xl">Change New Password</h1>
    </header>

    <% if(errorMsg) { %>
    <div class="w-full px-3">
      <p
        class="py-1 mt-2 bg-pink-100 text-red-500 text-center border border-pink-500">
        <%= errorMsg %>
      </p>
    </div>
    <% } %>

    <form action="/update-password" method="post" class="w-full p-3">
      <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
      <input type="text" name="resetToken" value="<%= resetToken%>" hidden />
      <input type="text" name="userId" value="<%= userId %>" hidden />
      <div class="flex flex-col mb-2">
        <label for="password" class="text-zinc-500 mb-1">New Password</label>
        <div class="w-full flex gap-2">
          <input
            type="password"
            name="password"
            id="password"
            value="<%= oldFormData ? oldFormData.password : '' %>"
            required
            class="w-full px-3 py-1 border-2 border-zinc-400 outline-none focus:border-zinc-950" />
          <button
            class="togglePassword size-9 bg-zinc-900 grid place-items-center text-white rounded-md"
            type="button">
            <i class="fa fa-eye"></i>
          </button>
        </div>
      </div>
      <div class="flex flex-col mb-2">
        <label for="confirmPassword" class="text-zinc-500 mb-1">
          Confirm New Password
        </label>
        <div class="w-full flex gap-2">
          <input
            type="password"
            name="confirmPassword"
            id="password"
            value="<%= oldFormData ? oldFormData.confirmPassword : '' %>"
            required
            class="w-full px-3 py-1 border-2 border-zinc-400 outline-none focus:border-zinc-950" />
          <button
            class="togglePassword size-9 bg-zinc-900 grid place-items-center text-white rounded-md"
            type="button">
            <i class="fa fa-eye"></i>
          </button>
        </div>
      </div>
      <button
        class="w-full py-2 block mx-auto bg-zinc-950 text-white border border-zinc-950">
        Change Password
      </button>
    </form>
  </div>
</section>
<%- include("../includes/foot.ejs") %>
