<%- include("./includes/head.ejs") %>
<section class="w-full h-full">
  <div class="w-1/2 max-lg:w-3/4 max-md:w-4/5 max-sm:w-full h-full mx-auto">
    <header
      class="w-full h-14 px-3 flex justify-start items-center border-b-2 border-zinc-950">
      <a
        href="/"
        class="bg-black size-10 flex justify-center items-center text-white mr-2">
        <i class="fa fa-arrow-left"></i>
      </a>
      <h1 class="text-xl"><%= post.userId.username %>'s Post</h1>
    </header>
    <div class="w-full p-3 h-[calc(100%-3.5rem)] overflow-y-scroll">
      <img
        class="aspect-video mb-2"
        src="<%= post.image_url %>"
        alt="<%= post.title %>" />

      <% if(userInfo) { %> <% if(userInfo._id.toString() ===
      post.userId._id.toString()) { %>
      <div class="flex items-center justify-end gap-2 bg-zinc-100 p-2 mb-2">
        <a
          class="px-3 py-1 bg-zinc-950 text-white border border-zinc-950"
          href="/admin/edit-post/<%= post._id %>"
          >Edit</a
        >
        <form action="/admin/delete-post/<%= post._id %>" method="post">
          <button
            class="px-3 py-1 bg-zinc-950 text-white border border-zinc-950">
            Delete
          </button>
        </form>
      </div>
      <% } %> <% } %>
      <ul class="flex items-center gap-2 mb-2">
        <li class="text-sm text-zinc-500">
          <i class="fa fa-clock"></i> <%= timeAgo(post.createdAt) %>
        </li>
        <% if(timeAgo(post.createdAt) != timeAgo(post.updatedAt)) { %>
        <li class="text-sm text-zinc-500">
          <i class="fa fa-pencil"></i>
          Edited
        </li>
        <% } %>
      </ul>
      <h1 class="text-lg"><%= post.title %></h1>
      <p class="text-zinc-500 font-semibold text-justify whitespace-pre-wrap">
        <%= post.description.trim() %>
      </p>
    </div>
  </div>
</section>
<%- include("./includes/foot.ejs") %>
