<%- include("./includes/head.ejs") %>
<section class="w-full max-h-full p-3 grid grid-cols-5 gap-3 overflow-y-scroll">
  <% for(let post of posts) { %>
  <a href="/post-details/<%= post._id %>">
    <div class="overflow-hidden">
      <img
        src="<%= post.image_url %>"
        alt="<%= post.title %>"
        class="w-full h-[160px] mb-1" />
      <h1 class="text-lg mb-1">
        <%= post.title.length > 20 ? post.title.substring(0, 25) + '...' :
        post.title %>
      </h1>
      <ul class="flex items-center gap-2">
        <li class="text-sm text-zinc-500"><%= timeAgo(post.createdAt) %></li>
        <li class="text-sm text-zinc-500"><%= post.userId.username %></li>
      </ul>
    </div>
  </a>
  <% } %>
</section>
<%- include("./includes/foot.ejs") %>
