<%- include("./includes/head.ejs") %>
<!-- Check posts -->
<% if(posts.length === 0) { %>
<section class="w-full h-full flex justify-center items-center">
  <div>
    <h1 class="text-zinc-500 text-xl mb-3">No post avaliable yet!</h1>
    <% if(isLogin) { %>
    <a
      class="bg-blue-500 text-white px-2 py-1 rounded-md mb-2 border border-blue-500"
      href="/admin/create-post">
      Create a new post
    </a>
    <% } else { %>
    <a
      class="bg-blue-500 text-white px-2 py-1 rounded-md mb-2 border border-blue-500"
      href="/login">
      Login First
    </a>
    <% } %>
  </div>
</section>
<% } %>

<section
  class="w-full <%= noPaginate ? 'max-h-[calc(100%-3.5rem)]' : 'max-h-full' %> p-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 overflow-y-scroll">
  <% for(let post of posts) { %>
  <div class="overflow-hidden">
    <a href="/post-details/<%= post._id %>">
      <img
        src="<%= post.image_url %>"
        alt="<%= post.title %>"
        class="w-full aspect-2/1 mb-1 bg-zinc-100" />
      <h1 class="text-lg mb-1">
        <%= post.title.length > 20 ? post.title.substring(0, 25) + '...' :
        post.title %>
      </h1>
    </a>
    <% if(isLogin) { %>
    <ul class="flex my-1 items-center gap-2">
      <form action="/admin/like/<%= post._id %>" method="post">
        <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
        <input type="text" name="userId" value="<%= userInfo._id %>" hidden />
        <button
          class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md <%= isLiked(post, userInfo) ? 'bg-blue-500 text-blue-50' : 'bg-blue-50 text-blue-500' %>">
          <p><%= formatNumber(post.like.length) %></p>
          <i class="fa-regular fa-thumbs-up"></i>
        </button>
      </form>
      <form action="/admin/dislike/<%= post._id %>" method="post">
        <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
        <input type="text" name="userId" value="<%= userInfo._id %>" hidden />
        <button
          class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md <%= isDisliked(post, userInfo ) ? 'bg-red-500 text-red-50' : 'bg-red-50 text-red-500' %>">
          <p><%= formatNumber(post.dislike.length) %></p>
          <i class="fa-regular fa-thumbs-down"></i>
        </button>
      </form>
    </ul>
    <% } else { %>
    <ul class="flex my-1 items-center gap-2">
      <li
        class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md bg-blue-50 text-blue-500">
        <p><%= formatNumber(post.like.length) %></p>
        <i class="fa-regular fa-thumbs-up"></i>
      </li>
      <li
        class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md bg-red-50 text-red-500">
        <p><%= formatNumber(post.dislike.length) %></p>
        <i class="fa-regular fa-thumbs-down"></i>
      </li>
    </ul>
    <% } %>
    <ul class="flex items-center gap-2">
      <li class="text-sm text-zinc-500"><%= timeAgo(post.createdAt) %></li>
      <li
        title="View <%= post.userId.username %>'s profile"
        class="text-sm text-zinc-500 hover:text-blue-500">
        <a href="/profile/<%= post.userId._id %>">
          <%= post.userId.username %>
        </a>
      </li>
    </ul>
  </div>
  <% } %>
</section>
<% if(!noPaginate) { %>
<div
  class="absolute bottom-0 left-0 w-full h-14 flex justify-center items-center gap-3 bg-zinc-200">
  <% if(hasPrevPage) { %>
  <a
    href="/?page=<%= prevPage %>"
    class="px-2 py-1 bg-zinc-950 text-white rounded-sm">
    Previous (<%= prevPage %>)
  </a>
  <% } %> <% if(hasNextPage) { %>
  <a
    href="/?page=<%= nextPage %>"
    class="px-2 py-1 bg-zinc-950 text-white rounded-sm">
    Next (<%= nextPage %>)
  </a>
  <% } %>
</div>
<% } %> <%- include("./includes/foot.ejs") %>
