<%- include("./includes/head.ejs") %>
<section class="w-full h-full overflow-y-scroll">
  <div class="w-full flex flex-wrap px-3 py-5">
    <div class="pr-10">
      <img
        class="size-28 rounded-lg overflow-hidden border-2 border-zinc-900 mb-3 object-cover"
        src="<%= user.profile_img %>"
        alt="<%= user.username %>'s profile image" />
    </div>
    <div>
      <h1 class="text-2xl mb-1"><%= user.username %></h1>
      <p class="text-blue-500 mb-1 uppercase">UID - <%= user._id %></p>
      <p class="mb-2 text-zinc-500">
        <%= user.bio ? user.bio : "No bio added" %>
      </p>
      <% if(isLogin && userInfo._id.toString() === user._id.toString()) { %>
      <div class="flex items-center gap-4 flex-wrap">
        <a
          class="bg-blue-500 text-white px-2 py-1 rounded-sm mb-2 border border-blue-500"
          href="/admin/create-post"
          >Create a new post</a
        >
        <a
          class="bg-blue-500 text-white px-2 py-1 rounded-sm mb-2 border border-blue-500"
          href="/admin/edit-personal-profile/<%= user._id %>"
          >Edit your personal profile</a
        >
        <form action="/admin/delete-account/<%= userInfo._id %>" method="post">
          <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
          <button
            class="bg-red-200 text-red-600 px-2 py-1 rounded-sm border border-red-600 mb-2">
            Delete Account
          </button>
        </form>
      </div>

      <% } %>
    </div>
  </div>
  <div class="w-full p-3 overflow-hidden">
    <h1 class="h-10"><%= user.username %>'s Posts</h1>
    <% if(posts.length === 0) { %>
    <p class="text-zinc-400">No post uploaded yet!</p>
    <% } %>
    <div
      class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3">
      <% for(let post of posts) { %>
      <div class="overflow-hidden">
        <a href="/post-details/<%= post._id %>">
          <img
            src="<%= post.image_url %>"
            alt="<%= post.title %>"
            class="w-full aspect-2/1 mb-1" />
          <h1 class="text-lg mb-1">
            <%= post.title.length> 20 ? post.title.substring(0, 25) + '...' :
            post.title %>
          </h1>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</section>
<%- include("./includes/foot.ejs") %>
