<%- include("./includes/head.ejs") %>
<section class="w-full h-full overflow-y-scroll">
  <div class="w-full flex flex-wrap p-3">
    <div class="pr-10 max-md:w-full max-md:flex">
      <a
        href="/"
        class="size-10 mb-2 grid place-items-center bg-zinc-100 text-zinc-950">
        <i class="fa fa-arrow-left"></i>
      </a>
      <img
        class="size-28 rounded-lg overflow-hidden border-2 border-zinc-900 mb-3 object-cover"
        src="<%= '../' + user.profile_img %>"
        alt="<%= user.username %>'s profile image" />
    </div>
    <div>
      <h1 class="text-2xl mb-1"><%= user.username %></h1>
      <p class="text-blue-500 mb-1 uppercase">UID - <%= user._id %></p>
      <div class="flex items-center gap-3 mb-1">
        <p class="text-zinc-900 hover:text-blue-500">
          <a href="/view-followers/<%= user._id %>">
            <%= formatNumber(user.followers.length) %> Followers
          </a>
        </p>
        <p class="text-zinc-900 hover:text-blue-500">
          <a href="/view-following/<%= user._id %>">
            <%= formatNumber(user.following.length) %> Following
          </a>
        </p>
      </div>
      <p
        class="text-sm !font-normal mb-2 text-zinc-900 bg-zinc-100 p-2 rounded-md border border-zinc-400">
        <%= user.bio ? user.bio : "No bio added" %>
      </p>
      <div class="flex items-center gap-x-4 flex-wrap">
        <% if(isLogin && userInfo._id.toString() === user._id.toString()) { %>
        <a
          class="bg-blue-500 text-white px-2 py-1 rounded-sm mb-2 border border-blue-500"
          href="/admin/create-post">
          Create a new post
        </a>
        <a
          class="bg-blue-500 text-white px-2 py-1 rounded-sm mb-2 border border-blue-500"
          href="/admin/edit-personal-profile/<%= user._id %>">
          Edit Profile
        </a>
        <form action="/logout" method="post">
          <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
          <button
            class="bg-red-200 text-red-600 px-2 py-1 rounded-sm border border-red-600 mb-2">
            Logout
          </button>
        </form>
        <form
          id="deleteAccountForm"
          action="/admin/delete-account/<%= userInfo._id %>"
          method="post">
          <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
          <button
            class="bg-red-600 text-white px-2 py-1 rounded-sm border border-red-600 mb-2">
            Delete Account
          </button>
        </form>
        <% } %>
        <!--Hello-->
        <% if(isLogin && userInfo._id.toString() !== user._id.toString()) { %>
        <% if(!isFollowing(userInfo, user)) { %>
        <form action="/admin/follow" method="post">
          <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
          <input type="text" name="userId" value="<%= userInfo._id %>" hidden />
          <input type="text" name="followId" value="<%= user._id %>" hidden />
          <button class="bg-blue-500 text-white px-2 py-1 rounded-sm">
            Follow
          </button>
        </form>
        <% } else { %>
        <form action="/admin/unfollow" method="post">
          <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
          <input type="text" name="userId" value="<%= userInfo._id %>" hidden />
          <input type="text" name="unfollowId" value="<%= user._id %>" hidden />
          <button class="bg-blue-500 text-white px-2 py-1 rounded-sm">
            Unfollow
          </button>
        </form>
        <% } %>
        <!--Space-->
        <% } %>
      </div>
    </div>
  </div>
  <div class="w-full p-3 overflow-hidden">
    <h1 class="h-10">
      <%= isLogin && user._id.toString() !== userInfo._id.toString() ?
      user.username + "'s" : isLogin ? "My" : user.username + "'s" %> Posts
    </h1>
    <% if(posts.length === 0) { %>
    <p class="text-zinc-400">No post uploaded yet!</p>
    <% } %>
    <div
      class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3">
      <% for(let post of posts) { %>
      <div class="overflow-hidden">
        <a href="/post-details/<%= post._id %>">
          <img
            src="<%= '../' + post.image_url %>"
            alt="<%= post.title %>"
            class="w-full aspect-2/1 mb-1 bg-zinc-100" />
          <h1 class="text-lg mb-1">
            <%= post.title.length> 20 ? post.title.substring(0, 25) + '...' :
            post.title %>
          </h1>
        </a>
        <% if(isLogin) { %>
        <ul class="flex my-1 items-center gap-2">
          <form action="/admin/like/<%= post._id %>" method="post">
            <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
            <input
              type="text"
              name="userId"
              value="<%= userInfo._id %>"
              hidden />
            <button
              class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md <%= isLiked(post, userInfo) ? 'bg-blue-500 text-blue-50' : 'bg-blue-50 text-blue-500' %>">
              <p><%= formatNumber(post.like.length) %></p>
              <i class="fa-regular fa-thumbs-up"></i>
            </button>
          </form>
          <form action="/admin/dislike/<%= post._id %>" method="post">
            <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
            <input
              type="text"
              name="userId"
              value="<%= userInfo._id %>"
              hidden />
            <button
              class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md <%= isDisliked(post, userInfo ) ? 'bg-red-500 text-red-50' : 'bg-red-50 text-red-500' %>">
              <p><%= formatNumber(post.dislike.length) %></p>
              <i class="fa-regular fa-thumbs-down"></i>
            </button>
          </form>
        </ul>
        <% } else { %>
        <ul class="flex my-1 items-center gap-2">
          <li
            class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md bg-blue-50 text-blue-500">
            <p><%= formatNumber(post.like.length) %></p>
            <i class="fa-regular fa-thumbs-up"></i>
          </li>
          <li
            class="flex items-center text-sm gap-1 px-2 py-0.5 rounded-md bg-red-50 text-red-500">
            <p><%= formatNumber(post.dislike.length) %></p>
            <i class="fa-regular fa-thumbs-down"></i>
          </li>
        </ul>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</section>
<%- include("./includes/foot.ejs") %>
