<%- include("./includes/head.ejs") %>

<section class="w-full h-full overflow-y-scroll">
  <h1 class="text-xl mx-3 py-2">
    <%= isLogin && user._id.toString() !== userInfo._id.toString() ?
    user.username + "'s" : "My" %> following
  </h1>
  <% if(following.length === 0 ) { %>
  <section class="w-full h-full flex justify-center items-center">
    <div>
      <h1 class="text-zinc-500 text-xl mb-3">
        <%= isLogin && user._id.toString() !== userInfo._id.toString() ?
        user.username : "You" %> don't following user
      </h1>
      <a
        href="/profile/<%= user._id %>"
        class="bg-blue-500 text-white px-2 py-1 rounded-sm text-nowrap">
        View Profile
      </a>
    </div>
  </section>
  <% } %>
  <div
    class="w-full p-3 gap-3 grid grid-cols-5 max-xl:grid-cols-4 max-lg:grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1">
    <% for(let followed of following) { %>
    <div class="bg-zinc-100 p-3 rounded-md shadow-md">
      <a href="/profile/<%= followed._id %>">
        <img
          class="size-14 rounded-md overflow-hidden"
          src="<%= followed.profile_img %>"
          alt="<%= followed.username %>'s profile image" />
        <h1 class="text-lg">
          <%= followed.username.length > 12 ? followed.username.substring(0, 12)
          + "..." : followed.username %>
        </h1>
      </a>
      <ul class="flex items-center gap-2 mb-2">
        <li class="text-sm text-zinc-600">
          <%= followed.followers.length %> Followers
        </li>
        <li class="text-sm text-zinc-600">
          <%= followed.following.length %> Following
        </li>
      </ul>

      <% if(isLogin && !isFollowing(userInfo, followed) &&
      userInfo._id.toString() !== followed._id.toString() ) { %>
      <form action="/admin/follow" method="post">
        <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
        <input type="text" name="userId" value="<%= userInfo._id %>" hidden />
        <input type="text" name="followId" value="<%= followed._id %>" hidden />
        <button class="bg-blue-500 text-white px-2 py-1 rounded-sm text-nowrap">
          Follow
        </button>
      </form>
      <% } else if(isLogin && userInfo._id.toString() !==
      followed._id.toString()) { %>
      <form action="/admin/unfollow" method="post">
        <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
        <input type="text" name="userId" value="<%= userInfo._id %>" hidden />
        <input
          type="text"
          name="unfollowId"
          value="<%= followed._id %>"
          hidden />
        <button class="bg-blue-500 text-white px-2 py-1 rounded-sm">
          Unfollow
        </button>
      </form>
      <% } %>
    </div>
    <% } %>
  </div>
</section>

<%- include("./includes/foot.ejs") %>
